.capacityInput {
  padding-bottom: 20px;
}

.itemContainer {
  padding-bottom: 10px;
}

.weightInput {
  padding-right: 10px;
}

.buttonsContainer {
  padding-top: 10px;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}
