body {
    font-size: 16px !important;
}

input {
    font-size: 16px !important;
}

label {
    font-size: 16px !important;
}

button {
    font-size: 18px !important;
}

h3 {
    font-size: 24px !important;
    text-align: center;
}

#root {
    width: 100%;
    height: 100%;
    padding: 14px 0;
}

.main-container {
    width: 100%;
    height: 100%;
}

.item {
    opacity: 0.5;
}

.item.selected {
    opacity: 1;
}

.remove-icon {
    color: #6c020f;
    padding-left: 20px;
}

.checkmark-icon {
    color: green;
    float: right;
}

.fs-button {
    height: 50px;
    width: 100%;
}

.full-width {
    width: 363px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.candidate-card {
    width: 100% !important;
    height: 100%;
}

.candidate-image {
    width: auto;
    height: 300px;
}

.scanner-image {
    width: 100px;
    height: 100px;
}

.intro-header {
    height: 518px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-header h2 {
    font-weight: bold;
}

.intro-container {
    height: 100%;
}

.login-button {
    margin-bottom: 20px !important;
}

.register-button {
    font-size: 18px !important;
    padding-top: 16px !important;
}

.logo-intro {
    width: 300px;
    padding-top: 66px;
    padding-bottom: 10px;
}

.logo-register {
    padding-top: 66px;
    padding-bottom: 66px;
}

.logo-bank {
    margin-left: 24px;
}

.button-register-register {
    margin-top: 146px !important;
}

.bank-selector-container {
    padding-bottom: 12px !important;
    padding-left: 8px !important;
}

.bank-dropdown {
    margin-left: 3px !important;
    width: 309px !important;
}

.bank-register-button {
    margin-top: 187px !important;
}

.bank-scanner-button {
    margin-top: 273px !important;
}

.shadow-rabobank-image {
    position: absolute !important;
    width: 160px !important;
    height: 190px !important;
    left: 107px !important;
    bottom: 80px !important;
}

.hidden {
    display: none;
}

.rabobank-code-input {
    margin-top: 80px !important;
}